example/mysql/*
!example/mysql/.gitkeep
example/repo/*
!example/repo/.gitkeep
example/upload/*
!example/upload/.gitkeep
example/server_key/*
!example/server_key/.gitkeep
example/nginx_conf/*
!example/nginx_conf/.gitkeep

example/docker-compose-ggit.yml
